<div class="d-flex justify-content-around" style="padding-top: 30px;padding-bottom:
    30px; background-color: #6D9886">

      <%= image_tag "bookmark", style: 'height:30px; width:30px;'%>

      <%= link_to posts_new_path do %>
      <%= image_tag "add", style: 'height:30px; width:30px;' %>
       <% end %>

      <%= link_to user_path(current_user) do %>
      <%= image_tag "profile", style: 'height:30px; width:30px;' %>
      <% end %>
</div>
