<div class="container">
<h1 align = center style="padding-top: 6px;">Welcome</h1>
<h1 align="center">Welcome</h1>

<div style="width: 100%; height: 500px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<button type="button" class="button" style="margin-bottom: 40px; margin-left: 140px;">GO</button>

<div class="d-flex justify-content-around" style="height: 40px;padding-top: 5px;padding-bottom: 10px">
      <%= image_tag "bookmark", style: 'height:30px; width:30px;'%>
      <%= image_tag "add", style: 'height:30px; width:30px;' %>
      <%= image_tag "profile", style: 'height:30px; width:30px;' %>
</div>
</div>
