<div class="container" style="height: 656px; padding-top: 0px; margin-top: 0px;">
<%# <h1 style="padding-top: 6px;" class="text-center">Welcome</h1> %>
<div style="width: 100%; height: 500px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
<div class="Homenewsdiv" style="margin-top: 10px;">

<%= form_with url: posts_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a post"
  %>
  <div style="position: absolute; margin-top: 40px; margin-left: 130px; border: solid; background: #6D9886; margin-top: 53px;">
  <%= submit_tag "Search", class: "btn btn-search" %>
  </div>
<% end %>


<%# <%= link_to posts_path do %>
  <%# <button type="button" class="button" style="margin-bottom: 0px;margin-left: 130px;margin-top: 30px;width: 106px;">Checkout Your Area</button> %>
<%# <% end %>

</div>
</div>
