<div class="card-post">
  <div class="card-post-infos">
    <h2><%= link_to post_path(post) do %>
      <h3><%= post.created_at.strftime("%m-%e-%y %H:%M")%>
      <h3><%= post.user.email %></h3>
      <%= post.title %></h2>
      <h3><%= post.content%></h3>
      <p>votes<%= post.votes.count %></p>
      <p>com<%= post.comments.count %></p>
      <p>bm<%= post.bookmarks.count %></p>
    <% end %>
  </div>
</div>
