<div class=container>
<div class="header-container">
  <h1 class="header-h1"><strong>What's new?</strong></h1>
</div>
<div class="new-form-container post-form">
  <%= simple_form_for [@post] do |f|  %>
    <%= f.input :title, placeholder: "Please choose a title for your post" %>
    <%= f.input :content, placeholder: "Tell us what's on your mind" %>
    <%= f.input :address, placeholder: "Street, Address, City" %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Spread the Word!", class: "btn btn-flat w-100 mt-2" %>
  <% end %>
  </div>
</div>

<%# test  %>