<div class="d-flex">
  <div class="header-container">
    <div class="show-card color=#F2E7D5">
      <h1 style="color:#393E46"><%= @post.title %></h1>
      <% if @post.photo.attached? %>  
      <%= cl_image_tag @post.photo.key, width: 300, height: 300, crop: :fit, class:"me-3 rounded" %>
      <% else %>
      <% end %>
        <p style="color:black"><%= @post.content %></p>
    </div>
  </div>
  <br>
  <br>
</div>
  <div class="d-flex">
    <div class="text-center comment-card">
      <% @post.comments.each do |comment| %>
        <div class="flex-direction:row">
        <p><%= comment.created_at.strftime("%m-%e-%y %H:%M") %></p>
        <p><strong><%= comment.user.email %></strong></p>
        <p><%= comment.content %></p>
        <hr>
      <% end %>
    </div>
  </div>
</div>


