<div class="show-container">
  <% if @post.photo.attached? %>  
    <div class="text-center">
      <%= cl_image_tag @post.photo.key, height: 250, class:"rounded w-100" %>
      </div>
  <% end %>
  <div class="container">
    <div class="d-flex f justify-space-between w-100 mt-3">
      <p class="flex-grow-1"><%= @post.created_at.strftime("%m-%e-%y %H:%M")%></p>
      <p><strong><%= @post.user.email %></strong></p>
    </div>
    <hr>
    <div class="show-card">
      <h1><%= @post.title %></h1>
      <p><%= @post.content %></p>
    </div>
    <hr>
    <div class="show-post-icons">
      <div class="d-flex align-items-center">
        <p class="show-post-icon-content"><i class="fa-solid fa-heart"></i><strong><%= @post.votes.count %></strong></p>
      </div>
      <div class="d-flex align-items-center mx-3">
        <p class="show-post-icon-content"><i class="fa-solid fa-comment"><strong></i><%= @post.comments.count %></strong></p>
      </div>
      <div class="d-flex align-items-center">
        <p class="show-post-icon-content"><i class="fa-solid fa-bookmark"><strong></i><%= @post.bookmarks.count %></strong></p>
      </div>
    </div>

    <div class="comment-card">
      <% @post.comments.each do |comment| %>
        <div class="d-flex justify-space-between w-100">
          <p class="flex-grow-1"><%= comment.created_at.strftime("%m-%e-%y %H:%M") %></p>
          <p><strong><%= comment.user.email %></strong></p>
        </div>
        <div class="comment-content">
          <p><%= comment.content %></p>
          <br>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>




