<!DOCTYPE html>
<html>
  <head>
    <title>NEWSBOARD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% if content_for? :nav %>
      <%= content_for :nav %>
    <% else %>
      <%= render 'shared/navbar' %>
    <% end %>
    <br>
    <br>
    <br>
    <br>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="page-container">
      <%= render "/shared/flashes" %>
      <div class="content-container">
        <%= yield %>
        <%= turbo_frame_tag "remote_modal", target: "_top" %>
    <br>
    <br>
    <br>
    <br>
    <br>
      </div>
        <div class="footer-container"><%= render "shared/bottom_nav" %>
      </div>
    </div>
  </body>
</html>
